@import 'variables';

//$red: #ff0000;

.singleCountry{
  //background: blue;
  //display: grid;
  //grid-template-columns: repeat(12, 1fr);
  //grid-template-rows: auto 500px 500px;

  header{ }
  //.sc__container--full{ grid-column: 1/-1; }
  //.sc__container--half{ grid-column: 1/-1; }
  //.sc__container--small{ grid-column: span 3; }


}

.CountryOverview{
  width: 100%;
  height: 1200px;
}

.sc__container{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

body{
  background: #6a4c93;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.chart__container{
  margin-bottom: 4em;
  background: #fff;
  padding: 2em;
  border-radius: .5em;
}

.chart__title{
  text-align: center;
  color: #444;
  margin-bottom: 2em;
}
