@import 'variables';

//$red: #ff0000;

*{
  box-sizing: border-box;
}

body{
  background: #6a4c93;
  padding: 1em;
}

.container{
  max-width: 1200px;
  margin: 0 auto;
}

.chart__container{
  margin-bottom: 3em;
  background: #fff;
  padding: 1em;
  border-radius: .5em;
}

.chart__title{
  text-align: center;
  color: #444;
  margin-bottom: 2em;
}

@media screen and (min-width: 600px){
  .chart__container{
    margin-bottom: 4em;
    padding: 2em;
  }
}

@media screen and (min-width: 900px){
  .chart__container--half{
    // flex or grid don't work :/
    width: calc(50% - 2em);
    float: left;
    margin-right: 4em;
    &:last-child{ margin-right: 0; }
  }
}
